{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1 style="margin-left: 9vmin;">Edit {{ object }}</h1><br>
{% else %}
  <h1 style="margin-left: 9vmin;">Add Budget</h1><br>
{% endif %}

<style>

.dashboard {
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 50vmin;
    height: 30px;
    padding: 5px;
    margin-top: 2vmin;
    box-shadow: 2px 2px 4px #c3c3c3;
}

</style>

<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="POST" style="margin-left: 9vmin;">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table><br>
  <input type="submit" value="Submit" class="btn" style="color: white; margin-left: -1.25vmin;">
  <a href="{% url 'budget' %}">Cancel</a>
</form>

{% endblock %}