{% extends 'base.html' %}
{% block content %}


<h1>Expenses</h1>
<br>
<a class="new-btn" href="{% url 'expense_create' %}"><span class="link-name">+ New Expense </span></a>
<br><br>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.date|date:"d/m/Y" }}</td>
                        <td>
                            <a href="{% url 'expense_delete' expense.id %}" ><i class="fa fa-trash"></i></a>
                            <a href="{% url 'expense_update' expense.id %}" ><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}