{% extends 'base.html' %}
{% block content %}


<h1>Incomes</h1>
<br>
<a class="new-btn" href="{% url 'income_create' %}">+ New Income </a>
<br><br>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <table id="income-table" class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th class="date">Date <span class="sort-arrow">&#x25B2;</span></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr>
                        <td>{{ income.amount }}</td>
                        <td>{{ income.category }}</td>
                        <td>{{ income.date|date:"d/m/Y" }}</td>
                        <td>
                            <a href="{% url 'income_delete' income.id %}" ><i class="fa fa-trash"></i></a>
                            <a href="{% url 'income_update' income.id %}" ><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var ascending = true; // Default sort order

        function sortByDate() {
            var rows = $('#income-table tbody tr').get();
            rows.sort(function(a, b) {
                var dateA = new Date($(a).find('td:eq(2)').text());
                var dateB = new Date($(b).find('td:eq(2)').text());
                if (ascending) {
                    return dateA - dateB;
                } else {
                    return dateB - dateA;
                }
            });
            $.each(rows, function(index, row) {
                $('#income-table').append(row);
            });

            // Toggle arrow icon and sort direction
            $('.sort-arrow').html(ascending ? '&#x25B2;' : '&#x25BC;');
            ascending = !ascending;
        }

        // Add click event listener to the date th
        $('#income-table th.date').on('click', function() {
            sortByDate();
        });
    });
</script>



{% endblock %}