{% extends 'base.html' %}
{% block content %}

<style>
    #tran-icon {
        color:#8503ef;
        font-size: 20px;
        padding: 2px;
    }
</style>

<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      Transactions
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'transactions' %}" style="color:#8503ef">Transactions</a>
      <a class="dropdown-item" href="{% url 'incomes' %}" style="color:#03EF62 ;">Incomes</a>
      <a class="dropdown-item" href="{% url 'expenses' %}" style="color: #FF931E">Expenses</a>
    </div>
  </div>
<br>
{% if accounts %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="max-width: 100%;">
                <a href="{% url 'incomes' %}" class="new-btn">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" >
                            <h4>Incomes</h4>
                            <i class="uil uil-download-alt"></i> <!-- Add your icon here -->
                        </div>
                        <h6>£{{ total_incomes }}</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="max-width: 100%;">
                <a href="{% url 'expenses' %}" class="new-btn">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" >
                            <h4>Expenses</h4>
                            <i class="uil uil-upload-alt"></i> <!-- Add your icon here -->
                        </div>
                        <h6>£{{ total_expenses }}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="max-width: 100%;">
                <a href="{% url 'accounts' %}" class="new-btn">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" >
                            <h4>Current balance</h4>
                            <i class="uil uil-balance-scale"></i> <!-- Add your icon here -->
                        </div>
                        <h6>£{{ balance }}</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="max-width: 100%;">
                <a href="{% url 'budgets' %}" class="new-btn">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" >
                            <h4>Current Budget</h4>
                            <i class="uil uil-money-stack"></i> <!-- Add your icon here -->
                        </div>
                        <h6>£{{ budgets.amount }}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <br>
    {% if incomes or expenses %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4>Transactions:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr>
                        <td class="text-success">Income</td>
                        <td>{{ income.account.name }}</td>
                        <td class="text-success">£{{ income.amount }}</td>
                        <td>{{ income.category }}</td>
                        <td>{{ income.date|date:"d/m/y" }}</td>
                        <td>
                            <a href="{% url 'income_update' income.id %}"><i id="tran-icon"class="uil uil-edit"></i></a>
                            <a href="{% url 'income_delete' income.id %}"><i id="tran-icon" class="uil uil-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for expense in expenses %}
                    <tr>
                        <td class="text-danger">Expense</td>
                        <td>{{ expense.account.name }}</td>
                        <td class="text-danger">£{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.date|date:"d/m/y" }}</td>
                        <td>
                            <a href="{% url 'expense_update' expense.id %}"><i id="tran-icon" class="uil uil-edit"></i></a>
                            <a href="{% url 'expense_delete' expense.id %}"><i id="tran-icon" class="uil uil-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<h4>No Financial Transactions</h4>
{% endif %}




{% else %}
    <h2>You have no accounts</h2>
    <br>
    <a href="{% url 'accounts' %}">Accounts</a>


{% endif %}
{% endblock %}