{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 style="margin-left: 7.5vmin">Your Accounts</h1>
<br>
    <div class="account-container">
            <a href="{% url 'account_create' %}" class="add-account">
            <i class="uil uil-plus-circle"></i>New Account</a>
        <br><br>

    {% for account in accounts %}
        <a href="{% url 'account_detail' account.id %}" class="dash-card-link">
            <div class="wallet">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="bank-logo pb-3">
                        <img src="../../static/images/{{ account.name }}-Logo.png" alt="logo">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p>{{ account.name }}</p> 
                        <p>Balance: <span>£{{ account.balance }}</span></p> 
                    </div>
                </div>
                <div class="wallet-icons">
                    <a href="{% url 'account_update' account.id %}"><i class="uil uil-edit"></i></a>
                    <a href="{% url 'account_delete' account.id %}"><i class="uil uil-trash-alt"></i></a>
                </div>
            </div>
        </a>
    
{% endfor %}
</div>
{% endblock %}