{% extends 'base.html' %}
{% block content %}

<h1>Accounts</h1>
<br>
    <div class="account-container">
            <a href="{% url 'account_create' %}" class="add-account">
            <i class="uil uil-plus-circle"></i>New Account</a>
        <br><br>

    {% for account in accounts %}
        <a href="{% url 'account_detail' account.id %}" class="dash-card-link">
            <div class="wallet">
                <h4><i class="uil uil-wallet"></i>Your Wallet</h4>
                <p>{{ account.name }}</p> 
                <p>Balance: <span> £{{ account.balance }}</span></p> 
                <div class="wallet-icons">
                    <!-- I made these uncentered by adding the outer link to detail screen
                    and idk how to fix it, my bad 😅 -->
                    <a href="{% url 'account_update' account.id %}"><i class="uil uil-edit"></i></a>
                    <a href="{% url 'account_delete' account.id %}"><i class="uil uil-trash-alt"></i></a>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}