{% extends 'base.html' %}
{% block content %}

<h1>Accounts</h1>
<br>
    <div class="account-container">
            <a href="{% url 'account_create' %}" class="add-account">
            <i class="uil uil-plus-circle"></i>New Account</a>
        <br><br>

    {% for account in accounts %}
        <div class="wallet">
            <h4><i class="uil uil-wallet"></i>Your Wallet</h4>
            <p>{{ account.name }}</p> 
            <p>Balance: <span> £{{ account.balance }}</span></p> 
            <div class="wallet-icons">
                <a href="{% url 'account_update' account.id %}"><i class="uil uil-edit"></i></a>
                <a href="{% url 'account_delete' account.id %}"><i class="uil uil-trash-alt"></i></a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}