{% extends 'base.html' %}
{% block content %}
<style>
    .budget-main{
        background-color: var(--panel-color);
        border-radius: 25px;
        padding:70px;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
    }
    .budget-main .new-budget{
        background-color: #974DFF;
        color: #FFF;
        border-radius: 25px;
        padding:10px;
        width:110px;
        border: none;
        text-decoration: none;
    }
    .budget-main .uil{
        color: #974DFF;
        font-size: 25px;
    }

</style>

<div class="budget-main">
    <h1>Your Budget</h1>
    <br><br>

    {% for budget in budgets %}
        {{ budget }} 
        &nbsp; &nbsp;
        <a href="{% url 'budget_update' budget.id %}"><i class="uil uil-edit"></i></a>
        &nbsp; &nbsp;
        <a href="{% url 'budget_delete' budget.id %}"><i class="uil uil-trash-alt"></i></a>
        <br><br>
    {% endfor %}
    <br>
    <a href="{% url 'budget_create' %}" class="new-budget">New Budget</a>
</div>
{% endblock %}