{% extends 'base.html' %}
{% block content %}

<style>

.calc-input-box {
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 50vmin;
    height: 30px;
    padding: 5px;
    margin-top: 2vmin;
    box-shadow: 2px 2px 4px #c3c3c3;
}

#form-icon {
    font-size: 12.5px;
}

.calc-text {
    font-size: 20px;
}

#calc-title {
    text-align: center;
}

</style>

<div class="d-flex flex-column justify-content-center align-items-center">
    
    <div class="container d-flex justify-content-between align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <br>
            <h2 id="calc-title">Investment Calculator</h2>
            <br>
            <div>
                <label for="startingAmount" style="padding-right: 5.25vmin" class="calc-text">Initial Investment <strong><span id="form-icon">(£)</span></strong></label>
                <input type="number" min="0" required id="startingAmount" name="startingAmount" class="calc-input-box"><br>
            </div>
            <div>
                <label for="contribution" style="padding-right: 3vmin;" class="calc-text">Yearly Contribution <strong><span id="form-icon">(£)</span></strong></label>
                <input type="number" required id="contribution" name="contribution" class="calc-input-box"><br>
            </div>
            <div>
                <label for="yearlyInterest" style="padding-right: 2.75vmin;" class="calc-text">Yearly Interest Rate <strong><span id="form-icon">(%)</span></strong></label>
                <input type="number" required id="yearlyInterest" name="yearlyInterest" class="calc-input-box"><br>
            </div>
            <div>
                <label for="years" style="padding-right: 1vmin;" class="calc-text">Length of Time in Years</label>
                <input type="number" min="1" required id="years" name="years" class="calc-input-box"><br>
            </div>
            <button class="btn btn-primary" style="margin-top: 5vmin;">Calculate</button>
        </form>
        <div id="chart-section" class="d-flex justify-content-center align-items-center" style="height: 600px; width: 600px;"> 
            
        </div>
    </div>

    <br>
    <h3></h3>
    <div class="container mt-4">
        <div class="card">
            <div id="table-section">

            </div>
        </div>
    </div>
</div>

<script>
    const button = document.querySelector('button');
    let startingAmount;
    let yearlyInterest;
    let years;

    const format = {
        style: "decimal",
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
    };

    const table = `
        <table class="table table-striped">
        <thead>
            <tr>
                <th class='text-center'>Year</th>
                <th class='text-center'>Amount</th>
                <th class='text-center'>Interest</th>
                <th class='text-center'>Contribution</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    `

    function compound(start, contribution, interest, years) {
        let amount = start;
        const percent = (parseInt(interest) + 100) / 100;
        const cont = parseInt(contribution);
        result = [];


        for (let i = 0; i < years; i++) {
            let before = amount
            amount = amount * percent;
            let interest = amount - before;
            amount += cont
            result.push({year: i + 1, amount: amount, interest: interest, contribution: cont})
        }
        return result;
    }

    button.addEventListener('click', function (event) {
        event.preventDefault();
        const start = document.getElementById('startingAmount').value;
        const contribution = document.getElementById('contribution').value;
        const int = document.getElementById('yearlyInterest').value;
        const years = document.getElementById('years').value;
        document.getElementById('chart-section').innerHTML = '<canvas id="myChart"></canvas>'
        if (start && contribution && int && years) {
            let result = compound(start, contribution, int, years)
            let string = []
            result.forEach(res => {
                string.push(
                    `<tr>
                    <td class='text-center'>${res.year}</td>
                    <td class='text-center'>£${res.amount.toLocaleString("en-US", format)}</td>
                    <td class='text-center'>£${res.interest.toLocaleString("en-US", format)}</td>
                    <td class='text-center'>£${res.contribution.toLocaleString("en-US", format)}</td>
                    </tr>`
                )
                
            })
            document.getElementById('table-section').innerHTML = table;
            document.querySelector('h3').innerText = `In ${years} years, you will have £${result[result.length - 1].amount.toLocaleString("en-US", format)}`
            document.querySelector('tbody').innerHTML = string.join('');


            const ctx = document.getElementById('myChart')

            const labels = [];
            const totals = [];
            const interests = [];
            const contributions = [];

            result.forEach(row => {
                labels.push(row.year);
                totals.push(row.amount);
                interests.push(row.interest);
                contributions.push(row.contribution);
            })


            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Total',
                        data: totals,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 1
                    }, {
                        label: 'Interest',
                        data: interests,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 1,
                        hidden: true
                    }, {
                        label: 'Contribution',
                        data: contributions,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 1,
                        hidden: true
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        }
    })

</script>


{% endblock %}