{% extends 'base.html' %}
{% block content %}

<h1>Your Dashboard</h1>
<br>
    <div class="dash-card-container">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Current Balance</h4>
                <h4>£{{ balance|floatformat:2 }}</h4>
            </div>
            <i class="uil uil-balance-scale"></i>
        </div>
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Current Budget</h4>
                <h4>£{{ budgets.0.amount }}</h4>
            </div>
            <i class="uil uil-money-stack"></i>
        </div>
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Incomes</h4>
                <h4>£{{ total_incomes }}</h4>
            </div>
            <i class="uil uil-download-alt"></i>
        </div>
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Expenses</h4>
                <h4>£{{ total_expenses }}</h4>
            </div>
            <i class="uil uil-upload-alt"></i>
        </div>
    </div>

<!-- This is just to display during development, feel free to change -->
<!--{% for account in accounts %}
    Account Name: {{ account.name }} <br>
    Balance: {{ account.balance }} <br><br>
    Incomes: {% for income in account.income_set.all %}
        <br>- You made {{ income.amount }} on {{ income.category }} at {{ income.date }}
    {% endfor %}
    <br><br>
    Expenses: {% for expense in account.expense_set.all %}
        <br>- You spent {{ expense.amount }} on {{ expense.category }} at {{ expense.date }}
    {% endfor %} <br><br>
{% endfor %}-->



{% endblock %}