{% extends 'base.html' %}
{% block content %}
<style>
    .stocks-form{
        background-color: var(--panel-color);
        border-radius: 25px;
        padding:50px 30px;
        height: 350px;
        width: 400px;
        margin:35px;
        align-items: center;
        text-align: center;
        box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
    }

    .stocks-title{
        text-align: center;
    }
    .select-selected{
        padding: 5px 15px;
        margin-bottom: 30px;
    }
    .stocks-years{
        padding: 0px 15px;
        margin-bottom: 30px;
    }
    .stock-btn{
        background-color: #974DFF;
        color: #FFF;
        border-radius: 25px;
        padding:10px;
        width:110px;
        border: none;
    }
    
</style>

<div class="container pt-5">
    <div class="row">
        <div class="stocks-form">
            <h1>Stocks</h1>
            <br>
            <form id="stock-form" action="">
                <label for="stock-search">Select a Stock</label>&nbsp;:&nbsp;
                <select id="stock-search" class="select-selected" >
                {% for stock in stock_selection %}
                    <option value="{{ stock.1 }}-{{ stock.0 }}">{{ stock.0 }}</option>
                {% endfor %}
                </select><br>
                <label for="stock-time">Years</label>&nbsp;:&nbsp;
                <input type="number" min="1" value="5" max="10" id="stock-time" class="stocks-years"> <br>
                <button type="submit" class="stock-btn">Find</button>
            </form>
        </div>
        <!-- This div contains the chart -->
        <div id="chart-section" style="height: 400px; width: 600px;">
            
        </div>

    </div>
</div>
<br><br>
<div id="stock-section" class="stocks-title">
    <h2></h2>
</div>

    





<script>



const data = 'REPLACE WITH DATA'

const baseURL = 'https://www.alphavantage.co/query';
const apiKey = 'KEDWTVV13Y63RVQR';
let outputType = 'TIME_SERIES_MONTHLY';

document.getElementById('stock-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const [stock, name] = document.getElementById('stock-search').value.split('-');
    const timeFrame = document.getElementById('stock-time').value;

    const url = `${baseURL}?function=${outputType}&symbol=${stock}&apikey=${apiKey}`;
    fetch(url)
    .then(response => response.json())
    .then(data => {
        console.log(data)
        const timeSeriesData = data['Monthly Time Series'];
        const latestDataPoint = Object.values(timeSeriesData)[0];
        const currentStockPrice = parseFloat(latestDataPoint['4. close']);

        document.querySelector('h2').innerText = `We're sorry, but our stock data service is currently experiencing technical difficulties due to limitations with the free stock API`;

        document.querySelector('h2').innerText = `Current Price of ${name}: £${currentStockPrice.toFixed(2)}`;

        document.getElementById('chart-section').innerHTML = '<canvas id="myChart" style="height: 400px; width: 600px;"></canvas>'

        const timeSeries = data["Monthly Time Series"];
        const sortedDates = Object.keys(timeSeries).sort();
        const dates = [];
        const prices = [];
        
        const currentDate = new Date();
        currentDate.setFullYear(currentDate.getFullYear() - timeFrame);
        
        for (let i = 0; i < sortedDates.length; i++) {
            const date = sortedDates[i];
            const closePrice = parseFloat(timeSeries[date]["4. close"]);
            
            const dataDate = new Date(date);

            if (dataDate >= currentDate) {
                dates.push(date);
                prices.push(closePrice);
            }
        }


        const ctx = document.getElementById('myChart')

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: name,
                    data: prices,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointRadius: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });

    })
    .catch(error => {
        document.querySelector('h2').innerText = `We're sorry, but our stock data service is currently experiencing technical difficulties due to limitations with the free stock API`;
        console.error('Error fetching data:', error);
    })
});

</script>



{% endblock %}