{% extends 'base.html' %}
{% block content %}

<style>

.calc-input-box {
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 50vmin;
    height: 30px;
    padding: 5px;
    margin-top: 2vmin;
    box-shadow: 2px 2px 4px #c3c3c3;
}

#form-icon {
    font-size: 12.5px;
}

.calc-text {
    font-size: 20px;
}

#calc-title {
    text-align: center;
}

</style>

<div class="d-flex flex-column justify-content-center align-items-center">
    
    <div class="container d-flex justify-content-between align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <br>
            <h2 id="calc-title" style="margin-top: 25vmin;">Tax Calculator</h2>
            <br>
            <div>
                <label for="yearlySalary" style="padding-right: 5.25vmin" class="calc-text">Yearly Salary <strong><span id="form-icon">(£)</span></strong></label>
                <input type="number" min="0" required id="yearlySalary" name="yearlySalary" class="calc-input-box"><br>
            </div>
            <button class="btn btn-primary" style="margin-top: 5vmin;" id="calculateButton">Calculate</button>
        </form>
        <div class="col-md-6 mb-4" style="margin-top: 32.5vmin;">
            <div class="card" style="max-width: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" >
                            <h4>Total Anual Tax</h4>
                            <i class="uil uil-upload-alt"></i> <!-- Add your icon here -->
                        </div>
                        <h6 id="taxDisplay">£</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>

    function calculateTax() {

        let tax;
        let taxableIncomeOne;
        let taxableIncomeTwo;
        let taxableIncomeThree;

        if (salaryYearly <= 12570) {
            tax = 0;
        } else if (salaryYearly > 12570 && salaryYearly <= 50270) {
            taxableIncomeOne = (salaryYearly - 12570);
            tax = (taxableIncomeOne / 5);
        } else if (salaryYearly > 50270 && salaryYearly <= 125140) {
            taxableIncomeOne = (salaryYearly - 12570);
            taxableIncomeTwo = (salaryYearly - 37700);
            tax = (taxableIncomeOne / 5) + (taxableIncomeTwo / 2.5);
        } else {
            taxableIncomeOne = (salaryYearly - 12570);
            taxableIncomeTwo = (salaryYearly - 37700);
            taxableIncomeThree = (salaryYearly - 50270);
            tax = (taxableIncomeOne / 5) + (taxableIncomeTwo / 2.5) + (taxableIncomeThree / 2.22222222);
        }
        return tax
    }

    const calculateButtonEl = document.getElementById("calculateButton");

    const taxDisplayEl = document.getElementById("taxDisplay");

    calculateButtonEl.addEventListener('click', function(evt) {
        evt.preventDefault();
        const salaryYearly = document.getElementById('yearlySalary').value;
        taxDisplayEl.innerText = `You will be taxed £${tax}`;
    });

</script>

{% endblock %}