@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

#card-text {
	text-decoration: none;
	color: black;
}

:root {
	/* Colors */
	--primary-color: #EDF3FB;
	--panel-color: #FFF;
	--text-color: #05192D;
	--black-light-color: #707070;
	--toggle-color: #DDD;
	--title-icon-color:#fff;

	/* Transition */
	--trans-05: all 0.5s ease;
	--trans-03: all 0.3s ease;
	--trans-02: all 0.2s ease;
}

body{
	min-height: 100vh;
	background-color: var(--primary-color);
	color: var(--text-color);
}

body.dark{
	--primary-color: #213147;
	--panel-color: #05192D;
	--text-color: #FFF;
	--black-light-color: #FFF;
	--toggle-color: #FFF;
	--title-icon-color:#CCC;
}

nav{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width:250px;
	padding: 10px 14px;
	background-color: var(--panel-color);
	transition: var(--trans-05);
}
nav.close{
	width: 73px;
}
nav .logo-name{
	display: flex;
	align-items: center;
}
nav .logo-image{
	display: flex;
	min-width: 45px;
}
nav .logo-image img{
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}
nav .logo-name .logo_name{
	font-size: 22px;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 14px;
}
nav .menu-items{
	margin-top: 40px;
	height: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-items li{
	list-style: none;
}
.menu-items li a{
	display: flex;
	align-items: center;
	height: 60px;
	text-decoration: none;
	position: relative;
}
.menu-items li a:hover:before{
	content: "";
	height: 5px;
	left: -7px;
	width: 5px;
	border-radius: 50%;
	background-color: var(--text-color);
	position: absolute;
}
.menu-items li a i{
	font-size: 24px;
	min-width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--black-light-color);
}
.menu-items li a .link-name{
	font-size: 18px;
	font-weight: 400;
	color: var(--black-light-color);
}
nav.close li a .link-name{
	opacity: 0;
	pointer-events: none;
}
nav.close .logo_name{
	opacity: 0;
	pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
	color: var(--text-color);
}
.menu-items .mode{
	display: flex;
	align-items: center;
}
.menu-items .mode-toggle{
	position: absolute;
	right: 14px;
	height: 50px;
	min-width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.mode-toggle .switch{
	position: relative;
	display: inline-block;
	border-radius: 25px;
	height: 22px;
	width: 40px;
	background-color: var(--toggle-color);
}
.switch:before{
	content: "";
	position: absolute;
	left: 5px;
	top:50%;
	transform: translateY(-50%);
	height: 15px;
	width: 15px;
	background-color: var(--panel-color);
	border-radius: 50%;
	transition: var(--trans-03);
}
body.dark .switch:before{
	left:20px
}
.dashboard{
	position: relative;
	left:250px;
	background-color: var(--panel-color);
	height: 60px;
	width: calc(100% - 250px );
	padding: 10px 14px;
	transition: var(--trans-05);
}

nav.close ~ .dashboard{
	left:73px;
	width: calc(100% - 73px);
}

.dashboard .top{
	background-color: var(--panel-color);
	position: fixed;
	top:0;
	left:250px;
	overflow: hidden;
	display: flex;
	width: calc(100% - 250px);
	justify-content: space-between;
	padding:10px 14px;
	align-items: center;
	transition: var(--trans-05);
}

nav.close ~ .dashboard .top{
	left:73px;
	width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
	font-size: 26px;
	color: var(--text-color);
	cursor: pointer;
}
.dashboard-content{
	padding-top: 100px;
}
.new-btn {
	background-color: var(--panel-color);
	padding: 10px 20px;
	border-radius: 20px;
	color: var(--text-color);
	text-decoration: none;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.new-btn:hover {
	text-decoration: none;
	color: var(--text-color);
}

.card {
	background-color: var(--panel-color);
	border-radius: 30px;
	border: none;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

.d-flex  i{
	height: 70px;
	width: 70px;
	font-size: 35px;
	padding-top:6px;
	padding-left:17px;
	border-radius: 50%;
	color: #05192D;
}

.uil-balance-scale{
	background-color: #03EF62;
}
.uil-money-stack{
	background-color: #60e7ff;
}
.uil-download-alt{
	background-color: #974DFF;
}
.uil-upload-alt{
	background-color: #ff931e;
}

.table thead th{
	color: var(--black-light-color);
	border: none;
}

.table tbody td {
	color: var(--black-light-color);
}
.dash-card-container, .account-container{
	display: flex;
	flex-wrap: wrap;
}

.dash-card{
	justify-content: space-between;
	display: flex;
	background-color: var(--panel-color);
	border-radius: 25px;
	padding:50px 30px;
	width: 350px;
	height: 200px;
	margin:20px;
	align-items: center;
	box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
}
.dash-card i{
	height: 70px;
	width: 70px;
	font-size: 35px;
	padding-top:6px;
	padding-left:17px;
	border-radius: 50%;
	color:#05192D;
}
.dash-card .uil-balance-scale{
	background-color: #03EF62;
}
.dash-card .uil-money-stack{
	background-color: #60e7ff;
}
.dash-card .uil-download-alt{
	background-color: #974DFF;
}
.dash-card .uil-upload-alt{
	background-color: #ff931e;
}
.dash-card-left{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
th.date {
	cursor: pointer;
}


.add-account{
	color: #974DFF;
	display: flex;
	flex-direction: column;
	background-color: var(--panel-color);
	justify-content: space-between;
	border-radius: 25px;
	padding:40px 30px;
	width: 350px;
	height: 200px;
	margin:20px;
	align-items: center;
	box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
}
.add-account:hover{
	text-decoration: none;
}
.add-account i{
	font-size: 60px;
}
.wallet{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--panel-color);
	border-radius: 25px;
	padding:40px 30px 0 30px;
	width: 350px;
	height: 200px;
	margin:20px;
	align-items: left;
	box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
}
.wallet-icons{
	border-top: 1px solid #CCC;
	font-size: 25px;
	display: flex;
	/*justify-content: space-between;*/
}
.wallet-icons i{
	color: #974DFF;
	margin-left:80px;
}

.wallet span{
	color:green;
	padding-left: 110px;
	font-weight: 600;
	font-size: 18px;
}

.form-container{
	margin:0 auto;
	background-color: var(--panel-color);
	border-radius: 25px;
	padding: 30px;
	align-items: center;
	text-align: center;
	max-width: 700px;
	box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.2);
}

.form-container table{
	margin: 30px auto;
	width: 70%;
	border-radius: 15px;
}
.form-container table input{
	width: 100%;;
	border-radius: 25px;
	border: 2px solid #974DFF;
	padding: 5px;
}

.form-container .btn{
	margin-top: 30px;
	width: 30%;
	border-radius: 25px;
	background-color: #974DFF;
	color: #FFF;
}

.dropdown button{
    border-radius: 30px;
    background-color: #8503ef;
    height: 60px;
    width:200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: white;
}

.dropdown button:hover {
    color: white;
    background-color: #58039d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu{
    background-color: var(--panel-color);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.dropdown-item{
    color: var(--black-light-color);
}
.dropdown-item:hover{
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dash-card-link {
	color: var(--text-color);
}

.dash-card-link:hover {
	text-decoration: none;
	color: var(--text-color);
}